html, body{
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #edeef0;
}
.navbar{
    margin-bottom: 0px;
}
.section-top{
    margin: 20px;

}
.product-item{
    height: 360px;
    background-color: white;
    border: 1px solid lightgrey;
    position: relative;
    padding: 10px 0 10px 0;
    text-align: center;
    margin-bottom: 10px;
}
.add-to-cart-btn{
    position: absolute;
    bottom: 35px;
    left: 50px;
    margin-bottom: -12px;
}
.footer{
    position: relative;
    margin-bottom: -180px; /* negative value of footer height */
    height: 180px;
    clear: both;
    background-color: white;
}

.discount-container{
    position: absolute;
    top: 30%;
    background: #55e073;
    width: 30%;
    color: white;
    font-weight: 700;
    padding: 3px;
}
.section-delivery{
    height: 300px;
    background-color: darkgreen;
    text-align: center;
    color: white;
}

.product-description-tabs{
    padding: 10px;

 }

.product-image-item{
    padding: 5px;
    margin-bottom: 10px;
}
.navbar-top{
    min-height: 10px;
    height: 20px;
    background-color: green;
    border: none;
    border-radius: 0;
}
.navbar-main{
    background-color: #55e073;
    border: none;
    border-radius: 0;
}

.basket-container{
    position: relative;
    width: 400px;
    padding: 15px 15px;
}

.basket-items{
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: #55e093;
    z-index: 10;
    padding: 10px;
}