{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="section-top">
        <img src="{% static 'img/slider0.jpg' %} "class="img-responsive">
    </div>
    <div class="section section1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Новое поступления
                    </h1>
                </div>
                {% for product_image in  products_images %}
                   {% include "Practice/product_item.html" %}
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="section-delivery">
        <div>
            <h3>Free shipping</h3>
        </div>
    </div>
     <div class="section section2 phones-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Телефоны
                    </h1>
                </div>
                {% for product_image in  products_images %}
                   {% include "Practice/product_item.html" %}
                {% endfor %}

            </div>
        </div>
    </div>
     <div class="section section3 laptops-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">
                        Ноутбуки
                    </h1>
                </div>
                {% for product_image in  products_images %}
                   {% include "Practice/product_item.html" %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}